doc/(C)
doc/2009
doc/4.2.1
doc/<bug-gnu-utils@gnu.org>.
doc/A
doc/Be
doc/Copyright
doc/E-mail
doc/FITNESS
doc/FOR
doc/Foundation,
doc/Free
doc/GNU
doc/General
doc/Inc.
doc/MERCHANTABILITY
doc/NO
doc/PARTICULAR
doc/PURPOSE,
doc/Software
doc/There
doc/This
doc/``Subject:''
doc/``sed''
doc/bug
doc/by
doc/conditions.
doc/copying
doc/even
doc/extent
doc/field.
doc/for
doc/free
doc/gmp.info
doc/help
doc/home
doc/in
doc/include
doc/is
doc/law.
doc/not
doc/or
doc/page:
doc/permitted
doc/reports
doc/sed
doc/see
doc/software:
doc/software;
doc/somewhere
doc/source
doc/sure
doc/the
doc/to
doc/to:
doc/using
doc/version
doc/warranty;
doc/word
